.cc-window.cc-banner {
  .cc-btn {
    color: $global-font-color;

    &:hover, &:focus {
      background-color: #ccc;
    }

    @media (prefers-color-scheme: dark) {& {
      color: $global-font-color;

      &:hover, &:focus {
        background-color: #fff;
      }
    }}
  }
}
